<div class="static-content">
  <h2><%= t "static_pages.contact_help" %></h2>
  <p>We would like to hear any kind of feedback (comment, concerns, issues, problems, suggestions, or whatever) you might have. Please leave them on the <a href="https://github.com/suupham2506">PeterPham</a> or the <a href="https://github.com/TranThiThanh">ThanhMitUot</a>.
  </p>
  <p>To report a problem or issue, you may also create a new <a href="https://github.com/suupham2506/social_network/issues/new">GitHub Issue</a>.
  </p>
</div>
