.header-bar {
  background-color: rgb(59, 89, 152) !important;
  padding-top: 10px;
}
.navbar-right {
  margin-right: 150px !important;
}

.logo-img {
  text-align: center;
  height: 30px;
  padding: 0 !important;
  margin-right: 10px;
  margin-left: 30px;
  > img {
    width: 30px;
  }
}

#form-search {
  position: relative;
  height: 100%;
  input {
    width: 393px;
    border-radius: 0 !important;
    height: 30px !important;
    padding-right: 30px;
  }
  .search-button {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 0;
    right: 0;
    background-color: transparent;
    border: none;
    outline: none;
    transition: .5s;
    &:hover {
      border: 1px solid #ccc;
    }
  }
}

.info-bar {
  > li {
    height: 30px;
    margin-right: 25px;
    img {
      height: 24px;
      width: 24px;
    }
    > a {
      padding: 0 !important;
      line-height: 30px !important;
      color: white !important;
      font-weight: bold;
    }
    span:not(.badge) {
      line-height: 30px;
    }
    button {
      width: 30px;
      height: 30px;
      background-color: transparent;
      border: none;
      outline: none;
      color: white;
      padding: 0 !important;
      &:focus, &:hover {
        background-color: transparent !important;
      }
    }
    &.dropdown {
      color: white;
    }
  }
  .user-profile {
    color: white;
    font-weight: bold;
  }
}
