.footer {
  margin-top: 250px;
  padding-top: 5px;
  border-top: 1px solid gray-medium-light;
  color: #000;
  a {
    color: #337ab7;
    &:hover {
      color: #000;
    }
  }
  ul {
    float: left;
    list-style: none;
    li {
      float: right;
      margin-right: 15px;
    }
  }
}
