
/* General */

body {
  /*font-family: inherit;
  font-size: 16px;
  padding-bottom: 50px;
  overflow: scroll;
  background-color: #eee;*/

  font-family: Helvetica, Arial, sans-serif;
  font-size: 12px;
  overflow-y: scroll;
  background: #fff;
  color: #1d2129;
  direction: ltr;
  line-height: 1.34;
  margin: 0;
  padding: 0;
  unicode-bidi: embed;
  display: block;
}

/*img {
  object-fit: cover;
  width: 100%;
  margin-top: 10px;
}*/

h1, h2, h3 {
  font-family: inherit;
}

h1 {
  margin: 10px 0 10px;
  font-weight: bold;
  font-size: 36px;
}

.left-title {
    color: #0e385f;
    font-size: 20px;
    font-weight: bold;
    line-height: 29px;
    margin-top: 40px;
    width: 450px;
    word-spacing: -1px;
}



h3 {
  margin-top: 15px;
  margin-bottom: 15px;
}

h4 {
  font-family: inherit;
}


#signup {

  .main-bkg {
    background-color: #eff2f7;
    min-width: 980px;
    height: 500px;
    padding: 60px 0;

  }

  .main-container {
    width: 1000px;
    margin: 0 auto;
  }

  .col-left,
  .col-right {
    vertical-align: top;
  }

  .col-left {
    display: inline-block;
    width: 580px;
    float: left;
  }

  .title-col-right {
    max-width: 400px;
    float: right;
  }

  .title-right-up{
    padding-top: 20px;
    padding-bottom: 20px;
  }

  #create{
    color: #333;
  }
  .free-style {
    color: #1d2129;
    font-size: 19px;
    font-weight: normal;

  }

 .new_user{
    background: white;
    border-radius: 5px;
    width: 399px;
    display: inline-block;
    position: relative;
    background-color: transparent;
    padding-bottom: 4px;

 }

 placeholder{
  font-size: 18px;
  padding: 8px 10px;
  color: #999;
  cursor: text;
  display: none;
  height: 100%;
  left: 0;
  padding: 4px 0 0 5px;
  position: absolute;
  top: 0;
  width: 100%;
 }

  .first-name , .surname ,.email, .password, .password-confirmation{
    width: 172px;
    border-color: #bdc7d8;
    border-radius: 5px;
    margin: 0;
    font-size: 18px;
    padding: 8px 10px;
  }

  .surname {

    margin-left: 3px;
  }
  .email, .password, .password-confirmation {
    width: 377px;
    margin-top: 8px;
  }

  .birthday{
    color: #1d2129;
    font-size: 18px;
    font-weight: normal;
    margin-bottom: 5px;
    margin-top: 10px;
  }
  ._5k_5{
    position: relative;
    margin-bottom: 10px;
  }
  ._5k_4 , ._5k_3{
        display: inline-block;
  }

  ._5k_2 {
    border-radius: 4px;
    border-width: 1px;
    display: inline-block;
    padding: 5px 0 5px 4px;
  }
  ._5dba{
    font-size: 13px;
    height: 30px;
    padding: 5px;
  }

  ._58mt{
        color: #1d2129;
    font-size: 18px;
    font-weight: normal;
    line-height: 18px;
    padding: 0 10px 0 3px;
  }

  .form{
    margin: 0 auto 0 auto;
    padding-bottom: 30px;
    display: block;
  }

  .login-footer {
    font-size: .75em;
    color: #888;
    width: 1000px;
    margin: 10px auto;
  }


  #button {
    min-width: 194px;
    padding: 7px 20px;
    text-align: center;
    font-size: 19px;
    line-height: 50%;
    background: linear-gradient(#67ae55, #578843);
    background-color: #69a74e;
    box-shadow: inset 0 1px 1px #a4e388;
    border-color: #3b6e22 #3b6e22 #2c5115;
    padding: 20px 30px;
    border: 1px solid;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    letter-spacing: 1px;
    position: relative;
    text-shadow: 0 1px 2px rgba(0,0,0,.5);
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: 'Freight Sans Bold', Helvetica, Arial, sans-serif !important;
    font-weight: bold !important;
    letter-spacing: normal;
  }
}



/* Login Header */

.login-header {
  font-family: inherit;
  height: 82px;
  min-width: 980px;
  background-color: #3b5998;
}

.forgotpassword{
  color: #95abc0;
  font-size: 12px;
  cursor: pointer;
  text-decoration: none;
}


.login-logo-container {
  /*position: relative;
  top: 10px;*/

    margin: 0 auto;
    padding-top: 13px;
    width: 980px;
    zoom: 1;
}

.login-logo {
  display: inline-block;
  vertical-align: middle;
  width: 45px;
  height: 45px;
  /*position: relative;
  margin-right: 10px;*/
}

.login-header-content {
  color: #fff;
  position: absolute;
  width: 1000px;
  top: 3px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.login-header-content h1 {
  display: inline-block;
  vertical-align: middle;
  font-weight: 600;
}

.login-form-container {
  position: absolute;
  top: 0;
  right: 0;
}

.login-form {
  font-size: .8em;
  border-collapse: separate;
  border-spacing: 15px 4px;

  #remember_me {
    width: 11px;
    height: 11px;
    padding: 0;
    margin: 0;
    top: -2px;
    position: relative;
    vertical-align: bottom;
    font-weight: normal;
  }

  label {
    /*display: block;
    margin-bottom: 0;
    color: #fff;
    font-weight: normal;
    padding-left: 1px;*/

    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px;
  }
}

.login-form input:not([type='checkbox']) {
  color: black;
  padding: 3px;
  width: 150px;
  border: 1px solid #333;
}

.login-form input[type="submit"] {
  color: white;
  cursor: pointer;
  font-weight: 600;
  width: 50px;
  background-color: #4267b2;
  border: 1px solid #365899;
  border-radius: 4px;
}

.login-form input[type="submit"]:hover,
.login-form input[type="submit"]:active {
  background-color: #29487d;
}




  /* Static pages */

  .static-content {
  margin-bottom: 60px;
  margin-left: 300px;
  line-height: 1.4;
  width: 700px;
  font-size: 14px;
  font-family: inherit;
  h2 {
    text-align: center;
    font-weight: bold;
    color: #373e4d;
    font-size: 30px;
    background-color: #eff2f7;
    border-bottom: 1px solid #dcdee3;
    padding: 16px 12px;
  }
  h5 {
    color: #666;
    font-weight: bold;
    font-style: italic;
    padding: 10px 0;
    font-size: 12px;
  }
  h3 {
    font-size: 16px;
    font-weight: bold;
    padding: 15px 0 5px 0;
  }
  p, ul {
    padding-bottom: 15px;
  }
  h2 + p {
    padding-top: 20px;
  }

  p{
  	font-size: 20px;
  }
  a {
    color: blue;
  }
  li {
    padding-left: 15px;
    list-style-type: square;
    list-style-position: inside;
  }
}


/* Footer */
.footer-container {
  border-top: 1px solid #eee;
  background-color: #fff;
}
.signup-footer {
  ul {
    padding: 20px 0;
    border-bottom: 1px solid #ddd;
    text-align: center;
  }
  li {
    display: inline-block;
    padding-right: 40px;
  }
  a {
    color: #3b5998;
    font-size: 12px;
  }
  p {
    color: #737373;
    font-size: 11px;
    padding: 10px 0;
    text-align: center;
  }
}

._58mk {
	border-top: 1px solid #dddfe2;
    color: #666;
    font-size: 13px;
    font-weight: bold;
    margin-top: 10px;
    padding-top: 15px;
}
