<div class= "main-header">
  <div class="header-holder">
    <div class="col-md-1">
    </div>
    <div class="col-md-11">
      <%= link_to "", "#" %>
      <img id="icon" src="/assets/images.png" alt="Facebook">
    <div class="header-form">
      <input id="q" name="q" placeholder="Search Facebook" type="search">
      <button class="search-btn" type="submit">
        <img alt="Search icon" class="search-icon" src="/assets/search.png">
      </button>
    </div>
    <div class="header-menu">
      <ul>
        <li>
          <div class="header-profile" title="Profile">
            <a href="#"><img alt="" class="v-sm-img" src="#" title="">
            <span>Hp</span>
            </a>
          </div>
        </li>
        <li><a href="#"><%= t"layouts.home" %></a></li>
        <li>
          <button class="btn btn-default dropdown-toggle friend-btn"
          id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="true">
          <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
          <span class="badge">
            0
          </span>
          </button>
        </li>
        <li>
          <button class="btn btn-default dropdown-toggle message-btn"
          id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="true">
          <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
          <span class="badge">
            0
          </span>
          </button>
        </li>
        <li>
          <button class="btn btn-default dropdown-toggle notification-btn"
          id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="true">
          <span class="glyphicon glyphicon-globe" aria-hidden="true"></span>
          <span class="badge">
            0
          </span>
          </button>
        </li>
        <li>
          <button class="btn btn-default dropdown-toggle help-btn"
          id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="true">
          <span class="glyphicon glyphicon-question-sign" aria-hidden="true">
          </span>
        </li>
        <li>
          <button class="btn btn-default dropdown-toggle triangle-btn"
          id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="true">
          <span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true">
          </span>
        </li>
      </ul>
    </div>
    </div>
  </div>
</div>
